@media all and (max-width: 1400px){

  .header-content h1{
    font-size: 8.7rem;

  }

  .header-content p{
    font-size: 40px;
  }

  .moods{
    display: inline;
      font-family: 'Indie Flower', cursive;
        font-size: 15px;

  }
  .v-header{

    height:92vh;

  }
  .listing{
    overflow: hidden;
  }


  .signin-btn{

    top: -20px;
    border: 1.5px solid #fff;
  }
}

@media all and (max-width: 1200px){

  .header-content h1{
    font-size: 8.2rem;

  }

  .moods{
    display: inline;
      font-family: 'Indie Flower', cursive;
        font-size: 15px;

  }
  .header-content p{
    font-size: 35px;
  }

  .happy {
    width:80px;
    height:80px;

  }
  .sad {
    width:80px;
    height:80px;

  }
  .chill {
    width:80px;
    height:80px;

  }
  .angry {
    width:80px;
    height:80px;

  }



  .v-header{

    height:94vh;

  }

  .signin-btn{

    top: -25px;
    border: 1.4px solid #fff;
  }
}

@media all and (max-width: 1000px){

  .header-content h1{
    font-size: 7.8rem;

  }

  .moods{
    display: inline;
      font-family: 'Indie Flower', cursive;
        font-size: 15px;

  }

  .signin-btn{
    top: -30px;
  }



}

@media all and (max-width: 900px){

  .signin-btn{
    top: -35px;

  }

  .moods{
    display: inline;
      font-family: 'Indie Flower', cursive;
        font-size: 15px;

  }

  .happy {
    width:65px;
    height:65px;

  }
  .sad {
    width:65px;
    height:65px;

  }
  .chill {
    width:65px;
    height:65px;
  }
  .angry {
    width:65px;
    height:65px;
  }

}
