.listing{
  overflow: hidden;
}


.wrapping{
  top:0;
  left: 0;
  width: 100%;
  height: 60vh;
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: 100% 500px;
  position:relative;
  opacity: 0.85;
}

.scrolling{
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 375px;
}

.top{
  top:0;
  height: 50px;
}

.smallbox{
  top:0;
  height: 45px;
  width: 50px;
  background-color: #0d0815;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.right_box{
  top: 0;
  height: 100px;
  width: 160px;
  background-color: #6600ff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  float: right;
}

.right_box > p{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
  text-align: inherit;
  color: red;
  margin: 10px;
}

.back_home{
  color: white;

  font-size: 30px;
  cursor: pointer;
}
