.player{
  position: relative;
  background-color: #6600ff;
  width: 100%;
  height: 58px;
  border-radius: 5px;
  border: 1px solid #9090901a;
}

.player:hover {
  background-color: #e5e5e5;
}

.player:hover .subject >p {
  color:black;
}

.image{
  display: none;
  /* float: left;
  height: 10px;
  weight: 10px;
  left: 10px;
  opacity: 0.1; */
}

.subject{
  float: left;
  top: -16px;
  left: 10px;
  height: 58px;
  width: 1000px;


  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  position: absolute;
}

.subject > p {
  float: left;
  font-family: "Gill Sans", sans-serif;
  font-weight: 100;
  display: inline;
  color: white;
  font-size: 25px;
}

.playing{
  text-decoration: none;
  height: 55px;
  width: 50px;
  font-size: 22.5px;
  box-sizing: border-box;
  text-align: center;
  padding: 12.5px;
  float:right;
  color: red;
  cursor:pointer;
}

.deleting{
  text-decoration: none;
  height: 55px;
  width: 50px;
  font-size: 30px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  float:right;
  color: red;
  cursor:pointer;
}
