*{
  box-sizing: border-box;
}

body{
  margin: 0;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.v-header{
  height:90vh;
  display: flex;
  align-items: center;
  color:#fff;

}

.desc-header{
  height:100vh;
  display: flex;
  align-items: center;
  color:#fff;

}

.fullscreen-picture-wrap{
  position: absolute;
  top:90;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title-wrapper{
  display: inline-block;
}

.container{
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;

}

.fullscreen-video-wrap{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.5;
}

.headerimg-overlay{
  height: 90vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.1;
}

.header-content{
  z-index: 2;
}

img{
  cursor: pointer;
}

.header-content h1{
  font-size: 9.5rem;
  margin-top: 1vh;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  opacity: 0.6;
}


.spacer{
  height: 0vh;
}

.header-content p{
  font-size: 45px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  opacity: 0.5;

}

.header-desc-content p{
  font-size: 50px;
  text-align: center;
  color: tomato;
  font-family: 'Indie Flower', cursive;
  opacity: 0.5;
}

.moods{
  display: inline-flex;
}

.logo-header{
  position: absolute;
  padding: 5px;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 30;
}

#logo-to-left{
  float: left;
  display: block;


}

#spotify-to-right{
  float: right;
  display: block;
  margin-top: -3.3%;
}

/* .spotify-icon{
  font-size: 24px;
  left: 15px;
  top: 15px;

  position: absolute;
  line-height: 1;
  box-sizing: border-box;
  letter-spacing: .5px;
} */

.icon-spotify{

  left: 15px;
  top: 10px;
  position: absolute;
  box-sizing: border-box;
  color: #fff;

}

.signin-btn{

  color: #fff;
  background-color: transparent;
  border: 1.3px solid #fff;
  width: 250px;
  padding: 15px;

  position: relative;
  display: block;
  text-align: right;
  border-radius: 4px;
  letter-spacing: .6px;
  text-decoration: none;
}

#descript{
  font-family: "Gill Sans", sans-serif;
  font-weight: 560;
  color: #fff;
  letter-spacing: .5px;

}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
}


.dropdown-content a {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 12px;
    font-stretch: ultra-condensed;
    font-weight: 600;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #e6e6e6}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
